<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="regraNovaAtiva" value="true"/>
		<add key="chaveExemplo" value="lida do app.config dos testes"/>
		<add key="numeroDiasDesconto" value="30"/>
		<add key="valorDesconto" value="5"/>
		<add key="ativarPromocoes" value="true"/>
		
		<!--Introducao ao Dependency Injection -->
		<add key="RegraDescontoValida" value="Combinada"/> <!--Combinada-->
	</appSettings>
</configuration>